body {
  background-color: #eee;
  margin: 0;
}

.wrapper{
  width: 95%;
  margin: auto;
}

.gallery {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery .gallery-item:hover {
  transform: scale(1.025);
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
.title {
  color: red;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 9px #f96565;
  font-family: 'Roboto Slab', serif;
}
